%table.text-file.code.js-syntax-highlight
  - last_line = 0
  - diff_file.highlighted_diff_lines.each do |line|
    - last_line = line.new_pos
    = render "projects/diffs/line", line: line, diff_file: diff_file

    - unless @diff_notes_disabled
      - line_code = diff_file.line_code(line)
      - diff_notes = @grouped_diff_notes[line_code] if line_code
      - if diff_notes
        = render "projects/notes/diff_notes_with_reply", notes: diff_notes

  - if last_line > 0
    = render "projects/diffs/match_line", { line: "",
      line_old: last_line, line_new: last_line, bottom: true, new_file: diff_file.new_file }
